*{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
.container{
  background-color: #630012f5;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}
header{
  display: flex;
  justify-content: space-between;
  width: 80%;
  align-items: center;
  margin: auto;
  padding: 20px 0;
}
.logo{
  width: 120px;

}
.container ul li {
  display: inline-block;
  margin: 0 20px;

}
.container ul li a{
  color: #fff;
  text-decoration: none;
  transition: 0.5s;
}
.container ul li a:hover{
  color:#006359f5;
}
.content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin:auto;
}
.content .text{
  color: #fff;
  width: 55%;
  margin: 20px 30px 0 0;
}
.content .text h2{
  font-size: 60px;
  text-transform: uppercase;

}
.content .text p{
  font-size: 19px;
  margin: 20px 0;
}
.content .photo{
  width: 40px;
  margin: 30px 277px ;
}
.content .photo img{
  width: 230px;
}
.content .text a{
  color: #fff;
  text-decoration: none;
  background: #005544eb;
  margin: 10px 0;
  width: 30px;
  padding: 8px 20px;
  border-radius: 30px;
}
.content .text a:hover{
  color: red;
}
.cut1{
background-color: #007b66;
width: 100%;
height: 50px;
}
.cut1 h1{
  text-align: center;
  padding: 10px;
  margin: 10px ;
}
.container1{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  align-items: center;

}
.container1 img{
  width: 500px;
  margin: 30px;
}
.container1 h2{
  text-align: center;
  margin: 10px;
}
.container1 .aboutklop p{
  padding: 10px;
}
.cut2{
  background-color: red;
  width: 100%;
  height: 2px;
}
.container2{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  align-items: center;

}
.container2 img{
  width: 500px;
  margin: 30px;
}
.container2 h2{
  text-align: center;
  margin: 10px;
}
.container6 .aboutmo p{
  padding: 10px;
}

.container2 .aboutmo .rightwing{
  color: red;
  font-size: 20px;
}
.container1 .aboutklop .Thetrainer{
  color: red;
  font-size: 20px;
}
.cut3{
  background-color: red;
  width: 100%;
  height: 2px;
}
.container3{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  align-items: center;

}
.container3 img{
  width: 500px;
  margin: 30px;
}
.container3 h2{
  text-align: center;
  margin: 10px;
}
.container3 .aboutmane p{
  padding: 10px;}
.container3 .aboutmane .leftwing{
  color: red;
  font-size: 20px;
}
.cut4{
  background-color: red;
  width: 100%;
  height: 2px;
}
.container4{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  align-items: center;

}
.container4 img{
  width: 500px;
  margin: 30px;
}
.container4 h2{
  text-align: center;
  margin: 10px;
}
.container4 .aboutfermino p{
  padding: 10px;}
.container4 .aboutfermino .attack{
  color: red;
  font-size: 20px;
}
.cut5{
  background-color: red;
  width: 100%;
  height: 2px;
}
.container5{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  align-items: center;

}
.container5 img{
  width: 500px;
  margin: 30px;
}
.container5 h2{
  text-align: center;
  margin: 10px;
}
.container5 .aboutteago p{
  padding: 10px;}
.container5 .aboutteago .cmf{
  color: red;
  font-size: 20px;
}
.cut6{
  background-color: red;
  width: 100%;
  height: 2px;
}
.end{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  align-items: center;
  background-color: black;
  width: 100%;
  height: 90px;
  overflow: hidden;
}
.end .linkphoto{
  margin: 40px;
}
.end .linkphoto img{
  width: 50px;
}
.end .endtext{
 color: #fff;
 margin: 10px;
}
.end .linkphoto .one{
  margin: 0 30px;
}
.container6{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  align-items: center;

}
.container6 img{
  width: 500px;
  margin: 30px;
}
.container6 h2{
  text-align: center;
  margin: 10px;
}
.container6 .aboutvirgil p{
  padding: 10px;}
